// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a.v-list-item.v-list-item--link.theme--dark:hover {
    text-decoration: none;
}

.v-application a:active {
    color: #ffffff;
    border-left: 4px solid white;
}

